<div class="main">
  <div class="row vertical-double-inner">
    <h1 class="f-center">Hello <%= @staff_member.name %></h1>
  </div>
  <div class="row vertical-double-inner">
    Your Email Address on Record is <%= @staff_member.email %>
  </div>
  <div class="row vertical-double-inner">
    Your Phone Number on Record is <%= @staff_member.phone %>
  </div>
  You can edit your profile here
</div>